* {
	font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    margin-top: 18px;
}

.logo{
    color: #37447E;
    font-size: 26px;
    font-weight: 900;
}
.header{
    color: #091133;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
}

.subheader{
    color:#505F98;
    font-size: 18px;
}
.first_section {
    margin-top: 18px;
    min-height: 1103px;
    background-image: url('/img/bg_first_section.png');
    background-repeat: no-repeat;
    background-position: right;
}
.first_section_button{
    background-color:#111B47;
    color: white;
    border-radius: 5px;
    width: 160px;
    border: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    color: #505F98;
}

.menu_item{
    margin-left: 45px;
}

.promo_header {
    margin-top: 260px;
    color: #091133;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
}

.promo_subheader{
    margin-top: 20px;
}

.promo_buttons {
    margin-top: 69px;
}
.btn_1{
    background-color:#111B47;
    color: white;
    border-radius: 5px;
    width: 190px;
    margin-right: 30px;
    height: 36px;
    border: none;
}
.btn_2{
    background-color:white;
    color: #111B47;
    border-radius: 5px;
    width: 190px;
    height: 36px;
}
/*_________________________ SECOND SECTION__________________________________ */
.second_section {
    min-height: 742px;
    background-image: url('/img/bg_second_section.png');
    background-repeat: no-repeat;
    background-position: right;
}

.second_header{
    margin-top: 167px;
}

.second_subheader{
    margin-top: 16px;
    margin-bottom: 80px;
}
.second_img{
    width: 36px;
}
.second_elem {
    margin-top: 80px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.second_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.second_text{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}

/*_________________________ THIRD SECTION__________________________________ */
.third_section{
    min-height: 1650px;
}
.third_img{
    width: 480px;
}

.third_elem{
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
}
.third_elem_one{
    margin-top: 150px;
}
.third_subheader{
    max-width: 446px;
    margin-top: 16px;

}
/*_________________________ FOURTH SECTION__________________________________ */
.fourth_section{
    min-height: 864px;
    margin-top: 100px;
    text-align: center;
    background: url('/img/fourth_section.svg') no-repeat;
    background-position: center;
}
.fourth_header{
    margin-top: 254px;
}
.fourth_subheader{
    margin-top: 16px;
    width: 600px;
    margin: 0 auto;
}
.fourth_cost{
    margin-top: 36px;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: #222F65;
}
.fourth_cost_text{
    margin-top: 10px;
}
.fourth_button_text{
    margin-top: 60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.fourth_button{
    margin-top: 16px;
    background: #111B47;
    color: white;
    width: 189px;
    height: 32px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
}
/*_________________________ FOOTER__________________________________ */
footer {
    min-height: 216px;
    background-color: #E7ECFF;
}
.slash{
    width: 1110px;
    height: 1px;
    background: #CDD1D4;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer_main{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.footer_year{
    color: #939EA4;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.footer_smth{
    display: flex;
    margin-bottom: 30px;
}
.footer_menu{
    color: #929ECC;
    display: flex;
    justify-content: space-around;
}
.footer_icons{
    display: flex;
    justify-content: space-around;
}
.footer_button{
    background: #111B47;
    color: white;
    border-radius: 5px;
    border: none;
}